In [ ]:
from statistics import * # importing all the statistics modules
ages = [19,22,19,24,20,25,26,24,25,24]
ages.sort()
min_age = ages[0]
max_age = ages[-1]
print("Sorted Ages:", ages)
print("Minimum Age:", min_age)
print("Maximum Age:", max_age)
# Add the min and max ages back to the list
ages.append(min_age)
ages.append(max_age)
print("Sorted Ages:", ages)
# Find the median age
mid_value = len(ages) //2
if len(ages) % 2 == 0:
    median_age = (ages[mid_value - 1] + ages[mid_value]) / 2
else:
    median_age = ages[mid_value]
print("Median age:",median_age )
# Find the average age
average_age = sum(ages) / len(ages)
print("Average age",average_age)
# Find the range
age_range = max_age - min_age
print("Range:",age_range)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26
Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age 22.75
Range: 7

In [ ]:
#Creating an empty dictionary
dog={}
# Add name, color, breed, legs, and age to the dog dictionary
dog["name"] = "puppy"
dog["color"] = "brown"
dog["breed"] = "den"
dog["legs"] = 4
dog["age"] = 5

# Create a student dictionary
student = {
    "first_name": "varun",
    "last_name": "venkata",
    "gender": "Male",
    "age": 22,
    "marital_status": "Single",
    "skills": ["Programming", "Problem Solving"],
    "country": "USA",
    "city": "Missouri",
    "address": "313 jackson St"
}

#  length of the student dictionary
student_length = len(student)

#  value of skills and check the data type
skills_value = student["skills"]
skills_data_type = type(skills_value)

# Modify the skills values by adding one or two skills
student["skills"].append("Communication")
student["skills"].append("Teamwork")

# Get the dictionary keys as a list
keys_list = list(student.keys())

# Get the dictionary values as a list
values_list = list(student.values())

# Print the results
print("Dog Dictionary:", dog)
print("Student Dictionary:", student)
print("Student Dictionary Length:", student_length)
print("Skills Data Type:", skills_data_type)
print("Modified Skills:", student["skills"])
print("Dictionary Keys:", keys_list)
print("Dictionary Values:", values_list)

Dog Dictionary: {'name': 'puppy', 'color': 'brown', 'breed': 'den', 'legs': 4, 'age': 5}
Student Dictionary: {'first_name': 'varun', 'last_name': 'venkata', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Programming', 'Problem Solving', 'Communication', 'Teamwork'], 'country': 'USA', 'city': 'Missouri', 'address': '313 jackson St'}
Student Dictionary Length: 9
Skills Data Type: <class 'list'>
Modified Skills: ['Programming', 'Problem Solving', 'Communication', 'Teamwork']
Dictionary Keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary Values: ['varun', 'venkata', 'Male', 22, 'Single', ['Programming', 'Problem Solving', 'Communication', 'Teamwork'], 'USA', 'Missouri', '313 jackson St']

In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
Length_it_c=len(it_companies)
print(" length of it companies",Length_it_c)
# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['LinkedIn', 'Netflix'])
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('IBM')
print("it_companies after removing 'IBM':", it_companies)

# Difference between remove and discard:
# - remove: Raises a KeyError if the element is not found.
# - discard: Does not raise an error if the element is not found.
# Both remove and discard are used to remove elements from a set.

# Join A and B
joined_set = A.union(B)
print("A union B:", joined_set)

# Find A intersection B
intersection_set = A.intersection(B)
print("A intersection B:", intersection_set)

# Check if A is a subset of B
is_subset = A.issubset(B)
print("A is a subset of B:", is_subset)

# Check if A and B are disjoint sets
are_disjoint = A.isdisjoint(B)
print("A and B are disjoint sets:", are_disjoint)

# Join A with B and B with A
A.update(B)
B.update(A)
print("A after updating with B:", A)
print("B after updating with A:", B)

# Symmetric difference between A and B
symmetric_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_diff)

# Delete the sets completely
del it_companies
del A
del B

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
length_of_age_list = len(age)
length_of_age_set = len(age_set)
print("Length of age list:", length_of_age_list)
print("Length of age set:", length_of_age_set)

 length of it companies 7
it_companies after adding 'Twitter': {'Twitter', 'Oracle', 'Facebook', 'Apple', 'Amazon', 'Google', 'Microsoft', 'IBM'}
it_companies after adding multiple companies: {'Twitter', 'Microsoft', 'IBM', 'Facebook', 'Apple', 'LinkedIn', 'Netflix', 'Oracle', 'Amazon', 'Google'}
it_companies after removing 'IBM': {'Twitter', 'Microsoft', 'Facebook', 'Apple', 'LinkedIn', 'Netflix', 'Oracle', 'Amazon', 'Google'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
A is a subset of B: True
A and B are disjoint sets: False
A after updating with B: {19, 20, 22, 24, 25, 26, 27, 28}
B after updating with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: set()
Length of age list: 8
Length of age set: 5

In [2]:
class Employee:
    # Class variable to count the number of Employees
    employee_count = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1

    def average_salary(self, employees):
        total_salary = sum(emp.salary for emp in employees)
        return total_salary / len(employees)

class FulltimeEmployee(Employee):
    pass  # No additional properties or methods for now

# Creating instances of Employee class
employee1 = Employee("John Doe", "Doe Family", 60000, "HR")
employee2 = Employee("Jane Smith", "Smith Family", 75000, "Engineering")

# Creating instances of FulltimeEmployee class
fulltime_employee1 = FulltimeEmployee("Alice Johnson", "Johnson Family", 80000, "Marketing")
fulltime_employee2 = FulltimeEmployee("Bob Williams", "Williams Family", 90000, "Finance")

# Calling member functions
employees = [employee1, employee2, fulltime_employee1, fulltime_employee2]

# Calling average_salary on an instance of Employee class
avg_salary = employee1.average_salary(employees)
print("Average salary of all employees:", avg_salary)

print("Total number of employees:", Employee.employee_count)

Average salary of all employees: 76250.0
Total number of employees: 4